
.inputCard{
    height: 30px;
    margin: 10px;
    width: 150px;    
    margin-top: 50px;
}

.buscarCard{
    background-color: rgb(22, 176, 214); 
    color: #ebdede;   
    height: 30px;
    font-size: medium;
    font-style:italic;
    height: 30px;
    margin: 10px;
    width: auto; 
    cursor: pointer;
    margin-top: 50px;
}

.buscarCard:hover {
    background-position:center;
    color: rgb(25, 22, 214);     
  }