
.inputCard{
    height: 30px;
    margin: 10px;
    width: 150px;    
    margin-top: 50px;
}

.buscarCard{
    background-color: rgb(22, 176, 214);   
    height: 30px;
    font-size: medium;
    font-style:italic;
    cursor: pointer;
}
