.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

/* .container img {
  width: 85%;
  height: auto;
} */

@media screen and (max-width: 800px) {
  .container {
    width: 80%;
    height: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 60%;
    height: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 33%;
    height: auto;
    max-width: 100%;
  }
}
