.detail {
  color: rgb(13, 41, 167);
  border: 4px solid rgb(10, 13, 179);
  display: flex;  
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  width:auto;
  height: auto;  
  border-radius: 40px;
  position: relative;
  overflow: auto;
  justify-content: center;
}

.name {
  color: rgb(26, 10, 243);
  text-shadow: 0px 0px 20px #e1e2ee;
  font-family: LetraRickAndMorty;
  font-size: 40px;
  position: absolute;
  text-align:start;
  display: flex;
  width: auto;  
}

.h3 {  
  /* font-family: 'Comic Sans MS', cursive; */
  font-family: LetraRickAndMorty;
  color:   rgb(65, 102, 221);  
  background-color: #080808;
  border: solid #0c398d 2px;
  background-size:contain;
  text-shadow: 0px 0px 20px #c5cee9;  
  letter-spacing: 2px;
  width: auto; 
  top: 10px;
  display: flex;
  flex-direction: row;
  transform: translate(-10%, 300%);
}

.img {
    width: 250px;
    height: 250px;
    display: flex;
    padding-top: 100px;
    padding-left: 90px;
    vertical-align:middle;
    float: right;
    transform: translate(0%, 0%);
   
}

.buttonBack {
  font-family: LetraRickAndMorty;
  letter-spacing: 4px;
  text-align: center;
  width: 90px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e4ba7;
  background-image: linear-gradient(315deg, #0c398d 0%, #484986 74%);
  background-size: 200% 100%;
  background-position: left;
  transition: 500ms;
  color: #e6f6e8;
  margin: 25px;  
  margin-left: 180px;
  font-size: large;
  transform: translate(-250%, 30%);
}

.buttonBack:hover {
  background-position:center;
  color: #080808;
}

.buttonBack :focus {
  outline: none;
}

