.about {
  color: rgba(51, 194, 58, 0.836); 
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
}

.titleAbout {
  text-align: center;
  color: rgb(13, 175, 40);
  font-family: LetraRickAndMorty;
  letter-spacing:8px;
  font-size: 50px;  
  text-shadow: 0px 0px 30px #a9daa8;
}

.h2 {
  color: rgb(96, 196, 121);
  font-family: georgia;
  font-size: 27px;
  text-shadow: 0px 0px 15px #a9daa8;  
  
}

.p{
    background-color: black;
    text-shadow: 0px 0px 15px #a9daa8;  
    font-family: monospace;
    font-size: 17px;
    
}

.buttonBack {
  font-family: LetraRickAndMorty;
  letter-spacing: 4px;
  text-align: center;
  width: 90px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ad321;
  background-image: linear-gradient(315deg, #0ed35a 0%, #246218 74%);
  background-size: 200% 100%;
  background-position: left;
  transition: 500ms;
  color: #e6f6e8;
  margin: 25px;  
  font-size: large;
  transform: translate(20%, 20%);
}

.buttonBack:hover {
  background-position:center;
  color: #080808;
}

.buttonBack :focus {
  outline: none;
}


