.card{
  position: relative;
  border: 4px solid rgb(18, 42, 175);
  border-radius: 9px;  
  width: 22%;
  background-color: #0c2fce42;
  margin: 5px;
  display: inline-block;
  flex-direction: column;
  align-items:flex-end;  
  justify-content: space-between; 
}



.name{
    font-family: LetraRickAndMorty;
    color:  rgb(211, 211, 228);
    background-color: rgb(1, 8, 1);  
    font-size: large;      
    height: auto;
    width: auto;    
    letter-spacing:2px;   
    position:absolute;     
    text-align:justify; 
    text-size-adjust: 15vm;    
    top: 78%;
    left: 42px;
    transform: translate(-10%, -100%);  
}

.name:hover {
    background-color: rgb(211, 211, 228);;  
    color: rgb(1, 8, 1);  
  }

.species{   
    font-family: 'Comic Sans MS', cursive;
    font-size: 10vm;
    position: absolute;
    color: rgb(233, 223, 212);
    background-color: rgba(0, 0, 0, 0.699);
    background-size: auto;
    width: auto;
    height: auto;
    text-align:justify; 
    text-size-adjust: 15vm;
    align-items: center;
    right: 5%;
    top: 85%;
}

.gender{
    font-family: 'Comic Sans MS', cursive;
    font-size: 10vm;
    position: absolute;
    color:   rgb(233, 223, 212);
    background-color: rgba(0, 0, 0, 0.699);
    background-size: auto;
    width: auto;
    height: auto;
    text-align:justify; 
    text-size-adjust: 15vm;
    left: 5%;
    top:85%;
}

img{
    width:80%;
    height: 90%;
    padding:26px;    
    border-radius: 10%;    
    align-items: center;
    display: flex;
    padding-block-end: 50px;
    
}

.cerrarCard{    
    position: absolute;
    height: auto;
    width: auto;
    top: 2%;
    left: 90%;
}

.cerrarCard:hover {
    color: black;
    background-color:  rgb(255, 8, 8);    
  }  


