.card{
  position: relative;
  border: 4px solid rgb(15, 185, 9);
  border-radius: 9px;  
  width: 25%;
  background-color: #18bd1842;
  margin: 5px;
  display: inline-block;
  flex-direction: column;
  align-items:flex-end;  
  justify-content: space-between; 
}



.name{
    font-family: LetraRickAndMorty;
    color:  rgb(10, 194, 10);
    background-color: rgb(1, 8, 1);  
    font-size: 15vm;  
    height: auto;
    width: auto;    
    letter-spacing:normal;   
    position:absolute;     
    text-align:justify; 
    text-size-adjust: 15vm;    
    top: 82%;
    left: 40px;
    transform: translate(-10%, -100%);  
}

.name:hover {
    background-color:  rgb(16, 255, 8);  
    color: black;  
  }

.species{   
    font-family: 'Comic Sans MS', cursive;
    font-size: 10vm;
    position: absolute;
    color: rgb(216, 123, 18);
    width: auto;
    height: auto;
    text-align:justify; 
    text-size-adjust: 15vm;
    align-items: center;
    right: 3%;
    top:87%;
}

.gender{
    font-family: 'Comic Sans MS', cursive;
    font-size: 10vm;
    position: absolute;
    color:   rgb(216, 123, 18);
    width: auto;
    height: auto;
    text-align:justify; 
    text-size-adjust: 15vm;
    left: 3%;
    top:87%;
}

img{
    width:80%;
    height: 80%;
    padding: 25px;    
    border-radius: 10%;    
    align-items: center;
    display: flex;
}

.cerrarCard{    
    position: absolute;
    height: auto;
    width: auto;
    top: 2%;
    left: 90%;
}

.cerrarCard:hover {
    color: black;
    background-color:  rgb(255, 8, 8);    
  }  


