.cards{   
    border: 3px solid rgb(49, 141, 216);      
    font-size: smaller;         
    border-radius: 20px;
    padding: 20px;
    padding-left: 7%;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: relative;
    /* display: flex; */
}
