.detail {
  color: rgb(73, 204, 12);
  border: 4px solid rgb(98, 202, 94);
  display: flex;  
  margin-left: 80px;
  margin-top: 20px;
  width: 40%;
  height: 40%;  
  border-radius: 80px;
  position: relative;
  overflow: auto;
}

.name {
  color: rgb(218, 205, 190);
  text-shadow: 0px 0px 30px #1eca1b;
  font-family: LetraRickAndMorty;
  position: absolute;
  text-align:start;
  display: flex;
  width: auto;
  padding-left: 50px;
  transform: translate(70%, 0%);  
}

.h3 {  
  font-family: 'Comic Sans MS', cursive;
  color:   rgb(158, 98, 30);  
  width: auto; 
  padding-left: 10px; 
  top: 10px;
  display: flex;
  flex-direction: row;
  transform: translate(30%, 300%);    
}

.img {
    width: 200px;
    display: flex;
    padding-top: 100px;
    padding-left: 90px;
    vertical-align:middle;
    float: right;
   
}
