.App {
  text-align: right;
}

@font-face {
  font-family: "LetraRickAndMorty";
  src: url("./components/Fuentes/get_schwifty.eot"),
    url("./components/Fuentes/get_schwifty.ttf");
}

body {
  background-image: url("./Imagen/body_RyM.jpg");
  background-size: 100%;
  width: auto;
  background-position: top;
  background-repeat: repeat-y;
}

.h1 {
  color: rgb(12, 78, 219);
  text-align: center;
  font-family: "LetraRickAndMorty";
  font-size: 1.7cm;
  letter-spacing: 7px;
  text-shadow: 2px 2px 4px rgb(154, 155, 196);
  -webkit-text-stroke: 1px rgba(41, 58, 136, 0.5);
}

.h3 {
  color: rgb(1, 10, 29);
  text-align: center;
  font-family: "LetraRickAndMorty";
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgb(1, 2, 36);
  -webkit-text-stroke: 1px rgba(203, 205, 218, 0.5);
  font-size: x-large;
  padding-top: 30%;  
  position: static;
}
