.App {
   text-align: right;      
}

@font-face{
   font-family: "LetraRickAndMorty";
   src: url("./components/Fuentes/get_schwifty.eot"), url("./components/Fuentes/get_schwifty.ttf");   
}

body{
   background-image:url("https://images.alphacoders.com/876/876589.jpg");  
   background-size: cover;
   background-position:center;    
}







