.cards{   
    border: 3px solid rgb(49, 141, 216);      
    font-size: smaller;         
    border-radius: 20px;
    padding: 20px;
    padding-left: 7%;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: relative;
}

.h3Home{
    color: rgb(215, 219, 233);
    text-align: justify;
    font-family: "LetraRickAndMorty";  
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(203, 211, 199, 0.618);    
    padding-left: 60px;    
 }

 .h3Cards{
    color: rgb(215, 219, 233);
    text-align: center;
    font-family: "LetraRickAndMorty";  
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(203, 211, 199, 0.618);    
 }