.nav{
    font-style: normal;
    background-color: rgba(32, 18, 224, 0.404);
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    height: 90px;
  }
  
  .homeFiltrar{
    background-color: rgb(22, 176, 214); 
    color: #ebdede;   
    height: 30px;
    font-size: small;
    font-style:italic;
    height: 30px;
    margin: 10px;
    width: auto; 
    cursor: pointer;
    margin-top: 30px;
  }
  
  .homeFiltrar:hover {
    background-position:center;
    color: rgb(25, 22, 214);     
  }
  
  .buttonAbout{
    background-color: rgb(22, 176, 214); 
    color: #ebdede;   
    height: 30px;
    font-size: small;
    font-style:italic;
    height: 30px;
    margin: 10px;
    width: auto; 
    cursor: pointer;
    margin-top: 30px;
  }
  
  .buttonAbout:hover {
      background-position:center;
      color: rgb(25, 22, 214);     
    }

.buttonFavorites{
  background-color: rgb(22, 176, 214); 
    color: #ebdede;   
    height: 30px;
    font-size: small;
    font-style:italic;
    height: 30px;
    margin: 10px;
    width: auto; 
    cursor: pointer;
    margin-top: 30px;
}

.buttonFavorites:hover {
  background-position:center;
  color: rgb(25, 22, 214);     
}

.buttonLogout{
  background-color: rgb(22, 176, 214); 
  color: #ebdede;   
  height: 30px;
  font-size: small;
  font-style:italic;
  height: 30px;
  margin: 10px;
  width: auto; 
  cursor: pointer;
  margin-top: 30px;
}

.buttonLogout:hover {
    background-position:center;
    color: rgb(25, 22, 214);     
  }

.h1{
    color:  rgb(190, 192, 223); 
    font-family: "LetraRickAndMorty";
    font-size: 1cm;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgb(170, 183, 206);
    -webkit-text-stroke: 1px rgba(115, 83, 196, 0.5);
}